<% if @user.username == "admin" %>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/adduser"> Add user</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shodan"> Shodan</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
<% end %>

<% if @user %>
<div class="note note-light mb-3">
  <strong>Logged in as: </strong> <%= @user.username %>
</div>
     
     <%= button_to "Logout", logout_path, method: :delete ,class: "btn btn-primary"%>
<% end %>

