<% if @user.username == "admin" %>
  <div class="d-flex align-items justify-content">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/adduser"> Add user</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shodan"> Shodan</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<% end %>

<% if @user %>
    Logged in as: <%= @user.username %> 
     <%= button_to "Logout", logout_path, method: :delete %>
<% end %>

