<div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
     
          <div class="card-body p-5 text-center">
            <h1>Shodan</h1>
            <div class="mb-md-5 mt-md-4 pb-5">
            
        
            <%= form_with url: search_path, method: 'get', local: true do |form| %>

              <div class="form-outline form-white mb-4">
                <strong>
                <%= form.label 'Search for IP '%>
                </strong>
                <%= form.text_field :IP ,placeholder: 'Eg. 8.8.8.8' %>  
              </div>
                 <%= form.submit "Search" ,class:"btn btn-primary" %> 
                <% end %>
            </div>
          </div>
        
      </div>
    </div>
  </div>
